@value white: #FFF;
@value lightGrey: #222;
@value darkGrey: #111;
@value black: #000;
@value colorPrimaryLight: #FF624D;
@value colorPrimary: #ff0000;
@value colorPrimaryDark: #B80300;
@value colorPrimaryTransparent: #ff742a10;
@value colorSecondary: #C7EAFF;

.mediumCircle {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: -5px -5px 30px rgba(0, 0, 0, 0.1);
    background-image:
        radial-gradient(farthest-side at 33% 66%, #ffffff80, #0000),
        linear-gradient(to bottom, colorPrimaryTransparent, colorSecondary);
}

.smallCircle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: -5px -5px 30px rgba(0, 0, 0, 0.4);
    background-image:
        radial-gradient(farthest-side at 33% 66%, #ffffff80, #0000),
        linear-gradient(to bottom right, colorSecondary, colorPrimary);
}

.largeCircle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    filter: blur(5px);
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    background-image:
        radial-gradient(farthest-side at 33% 66%, #ffffff80, #0000),
        /* linear-gradient(to bottom right, colorPrimaryLight, colorPrimary); */
}

@keyframes example {
    from {
        background-color: colorPrimary;
    }

    to {
        background-color: #f1ddb7;
    }
}

.radius {
    border-radius: 15px;
}

.glass {
    background-color: #ffffffee;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.glassText {
    font-family: Roboto;
    font-weight: 1;
    padding: 0em;
    margin: 0em;
    letter-spacing: 0.07em;
}

.spaced {
    margin: 1em;
    padding: 1em;
}

.grow {
    height: 100%;
}

.spacedLarge {
    margin: 3em;
    padding: 3em;
}

.background {
    position: absolute;
    min-height: 70vh;
    width: 100%;
    top: 30vh;
    bottom: 0px;
    left: 0px;
}