.tableTopAxis {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    min-width: 100px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding: 0.5em;
}

.tableCorner,
.tableSideAxis {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    width: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding: 0.5em;
}

.tableCorner {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 13;
}

.tableTopAxis {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 12
}

.tableSideAxis {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 11
}

.tableCell {
    min-width: 100px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
}